# this lists the env variables needed for the app to work
# create a copy of this file named .env,
# then set the variables below to the correct values
CLIENT_PORT=<same_as_apps/client/.env>
SERVER_PORT=<same_as_apps/server/.env>
