# this lists the env variables needed for the app to work
# create a copy of this file named .env,
# then set the variables below to the correct values
PORT=<a_port_number>
FRONTEND_URL=<'your frontend url'>